@charset "UTF-8";
@font-face { font-family:"Montserrat";font-variant:normal;font-weight:bold;src:url("#FontID0") format(svg)}
.fil0 {fill:#28208C}
.fil1 {fill:#E9E9E9}
.fnt0 {font-weight:bold;font-size:296.33px;font-family:'Montserrat'}
