@charset "UTF-8";
@font-face { font-family:"Montserrat";font-variant:normal;font-style:normal;font-weight:bold;src:url("#FontID0") format(svg)}
.str0 {stroke:#0A0A0A;stroke-width:20;stroke-miterlimit:22.9256}
.fil0 {fill:#0A0A0A}
.fil1 {fill:#28208C}
.fil2 {fill:#E9E9E9}
.fnt0 {font-weight:bold;font-size:296.33px;font-family:'Montserrat'}
